body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

/** ----------------------------------- Custom scrollbar ----------------------------------- **/
body::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

/** Global settings **/
/** Text animation block **/
.character-anim {
  display: inline-block;
}

.section {
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0f0f0f;
  overflow-x: hidden;
}

.section-title {
  color: #ffffff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 120px;
  padding-left: 120px;
}

/** ----------------------------------- Global cursor ----------------------------------- **/
html:hover #cursor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cursor {
  z-index: 999;
  width: 0;
  height: 0;
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

#cursor:before {
  content: '';
  display: block;
  border-radius: 100%;
  position: absolute;
  border: 1px solid #ffffff;
  height: 20px;
  width: 20px;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

#cursor:after {
  position: absolute;
  height: 5px;
  width: 5px;
  border: 0;
  background: #ffffff;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/** ----------------------------------- Menu cursor ----------------------------------- **/
.menu-cursor {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: all .1s;
  transition: all .1s;
  mix-blend-mode: difference;
}

.menu-cursor_active {
  width: 200px;
  height: 200px;
}

@media (max-width: 1025px) {
  #cursor {
    display: none;
  }
  #cursor::before {
    display: none;
  }
  #cursor::after {
    display: none;
  }
  .menu-cursor {
    display: none;
  }
  .menu-cursor_active {
    display: none;
  }
}

.preloader {
  z-index: 999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.loader {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-bottom-color: #6B6B6B;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 80px rgba(255, 255, 255, 0.3);
  -webkit-animation: loader-spin 1s infinite;
          animation: loader-spin 1s infinite;
}

.preloader_done {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 888;
  right: -110%;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.menu_active {
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu_active .item__box {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.menu_active .item__box:nth-child(1) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.menu_active .item__box:nth-child(2) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.menu_active .item__box:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.menu_active .item__box:nth-child(4) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.menu_active .item__box:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.menu_active .menu__socials a i {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s  ease-out;
  transition: all 1s  ease-out;
}

.menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.menu__socials a {
  position: relative;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.menu__socials a:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu__socials a:hover i {
  color: #000000;
}

.menu__socials a::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: -1;
}

.menu__socials a i {
  font-size: 25px;
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu__inner {
  width: 100%;
  height: 100%;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__box {
  margin-top: 30px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.item__box:first-child {
  margin-top: 0px;
}

.menu__item {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  text-transform: uppercase;
  font-size: 72px;
}

.menu__item:hover {
  text-shadow: 0 0 50px red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

/** menu button **/
.menu__button {
  z-index: 900;
  cursor: pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 30px;
  top: 30px;
  padding: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__button:hover .menu__button__element::after {
  width: 40px;
}

.menu__button:hover .menu__button__element::before {
  width: 40px;
}

.menu__button__element {
  position: absolute;
  width: 40px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -20px;
  background-color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__button__element::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -20px;
  background-color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.menu__button__element::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -20px;
  background-color: #ffffff;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__button_active .menu__button__element {
  height: 0;
}

.menu__button_active .menu__button__element::after {
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button_active .menu__button__element::before {
  width: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/** ----------------------------------- Media ----------------------------------- **/
@media (max-width: 1025px) {
  .menu__button {
    top: 10px;
    right: 10px;
  }
  .menu__item {
    font-size: 76px;
  }
  .menu__socials {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .menu__button {
    top: 10px;
    right: 10px;
  }
  .menu__item {
    font-size: 56px;
  }
  .menu__socials {
    padding-top: 20px;
  }
}

@media (max-width: 415px) {
  .menu__button {
    top: 10px;
    right: 10px;
  }
  .menu__item {
    font-size: 36px;
  }
  .menu__socials {
    padding-top: 20px;
  }
}

@media (max-width: 376px) {
  .menu__button {
    top: 10px;
    right: 10px;
  }
  .menu__item {
    font-size: 36px;
  }
  .menu__socials {
    padding-top: 20px;
  }
}

@media (max-width: 321px) {
  .menu__button {
    top: 10px;
    right: 10px;
  }
  .menu__item {
    font-size: 36px;
  }
  .menu__socials {
    padding-top: 20px;
  }
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../images/home/home-bg.jpg) center center no-repeat;
  background-size: cover;
}

/** ----------------------------------- Content ----------------------------------- **/
.home__content {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content__text {
  font-family: 'Mak', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 100px;
}

.content__text span {
  display: block;
  font-size: 64px;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  text-transform: uppercase;
}

.home__button {
  width: 209px;
  padding: 11px 0px 8px 0px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  color: #6B6B6B;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: black;
  color: #ffffff;
}

/** ----------------------------------- Media ----------------------------------- **/
@media (max-width: 1024px) {
  .home__content {
    margin-top: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__text {
    text-align: center;
  }
  .content__text span {
    text-align: center;
  }
  .home__buttons {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__button {
    width: 350px;
    padding: 20px 0px 17px 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    font-size: 35px;
  }
}

@media (max-width: 769px) {
  .home__content {
    margin-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__text {
    font-size: 80px;
    text-align: center;
  }
  .content__text span {
    font-size: 50px;
    text-align: center;
  }
  .home__buttons {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__button {
    width: 300px;
    font-size: 30px;
    margin-right: 0px;
    margin-bottom: 40px;
    padding: 11px 0px 8px 0px;
  }
}

@media (max-width: 416px) {
  .home__content {
    margin-top: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__text {
    font-size: 60px;
    text-align: center;
  }
  .content__text span {
    font-size: 35px;
    text-align: center;
  }
  .home__buttons {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__button {
    width: 200px;
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: 40px;
    padding: 11px 0px 8px 0px;
  }
}

@media (max-width: 376px) {
  .home__content {
    margin-top: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__text {
    font-size: 50px;
    text-align: center;
  }
  .content__text span {
    font-size: 30px;
    text-align: center;
  }
  .home__buttons {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__button {
    width: 200px;
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 11px 0px 8px 0px;
  }
}

@media (max-width: 321px) {
  .home__content {
    margin-top: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__text {
    font-size: 50px;
    text-align: center;
  }
  .content__text span {
    font-size: 30px;
    text-align: center;
  }
  .home__buttons {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__button {
    width: 200px;
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 11px 0px 8px 0px;
  }
}

/** ----------------------------------- About section ----------------------------------- **/
.about {
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0f0f0f;
  overflow-x: hidden;
}

.title__box {
  z-index: 99;
  width: 100%;
  height: 244px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/** About info **/
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__text:nth-child(2) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.info__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 4px 5px 4px 25px;
  color: #000000;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 20px;
  line-height: 100%;
}

.info__subtitle {
  font-size: 24px;
  line-height: 158%;
  white-space: wrap;
}

/** ----------------------------------- About media ----------------------------------- **/
@media (max-width: 1024px) {
  .title__box {
    height: 150px;
    margin-bottom: 50px;
  }
  .about__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    font-size: 44px;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  .about__info {
    margin-bottom: 50px;
  }
  .info__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__text:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__title {
    font-size: 44px;
  }
  .info__subtitle {
    font-size: 36px;
    line-height: 200%;
  }
  .info__img {
    display: none;
  }
}

@media (max-width: 769px) {
  .title__box {
    height: 150px;
    margin-bottom: 50px;
  }
  .about__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    font-size: 44px;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  .about__info {
    margin-bottom: 50px;
  }
  .info__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__text:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__title {
    font-size: 34px;
  }
  .info__subtitle {
    font-size: 26px;
    line-height: 200%;
  }
  .info__img {
    display: none;
  }
}

@media (max-width: 415px) {
  .title__box {
    height: 150px;
    margin-bottom: 50px;
  }
  .about__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    font-size: 34px;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  .about__info {
    margin-bottom: 50px;
  }
  .info__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__text:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__title {
    font-size: 24px;
  }
  .info__subtitle {
    font-size: 16px;
    line-height: 200%;
  }
  .info__img {
    display: none;
  }
}

@media (max-width: 376px) {
  .title__box {
    height: 150px;
    margin-bottom: 50px;
  }
  .about__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    font-size: 34px;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  .about__info {
    margin-bottom: 50px;
  }
  .info__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__text:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__title {
    font-size: 24px;
  }
  .info__subtitle {
    font-size: 16px;
    line-height: 200%;
  }
  .info__img {
    display: none;
  }
}

@media (max-width: 321px) {
  .title__box {
    height: 150px;
    margin-bottom: 50px;
  }
  .about__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    font-size: 24px;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  .about__info {
    margin-bottom: 50px;
  }
  .info__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__text:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .info__title {
    font-size: 24px;
  }
  .info__subtitle {
    font-size: 14px;
    line-height: 200%;
  }
  .info__img {
    display: none;
  }
}

/** ----------------------------------- Skills section ----------------------------------- **/
.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 170px;
}

.skill__name {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

/** Media Skills section **/
@media (max-width: 1025px) {
  .skill__img {
    width: 100px;
    min-height: 130px;
  }
  .skill__name {
    font-size: 20px;
    letter-spacing: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .skill__img {
    width: 100px;
    min-height: 130px;
  }
  .skill__name {
    font-size: 20px;
    letter-spacing: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 415px) {
  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill__item {
    margin-bottom: 30px;
  }
  .skill__img {
    min-height: 0;
    width: 50px;
  }
  .skill__name {
    font-size: 15px;
    letter-spacing: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 376px) {
  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill__item {
    margin-bottom: 30px;
  }
  .skill__img {
    min-height: 0;
    width: 50px;
  }
  .skill__name {
    font-size: 15px;
    letter-spacing: 5px;
    padding-left: 5px;
  }
}

@media (max-width: 321px) {
  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill__item {
    margin-bottom: 20px;
  }
  .skill__img {
    min-height: 0;
    width: 50px;
  }
  .skill__name {
    font-size: 15px;
    letter-spacing: 5px;
    padding-left: 5px;
  }
}

/** ----------------------------------- Contacts section ----------------------------------- **/
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  letter-spacing: 30px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__title {
  padding-left: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 15px;
  text-align: center;
}

.contacts__input {
  display: inline-block;
  width: 656px;
  height: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__button {
  padding: 8px 40px 8px 55px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.socials__title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-left: 6px;
  text-align: center;
  margin-bottom: 20px;
}

.socials__content {
  background-color: #ffffff;
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.socials__item {
  position: relative;
  padding: 5px;
  margin-right: 70px;
  z-index: 10;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__item i {
  color: #000000;
  font-size: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socials__item i::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.socials__item i:hover {
  color: #ffffff;
}

.socials__item i:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

/** Contacts section media **/
@media (max-width: 1025px) {
  .contacts__title {
    font-size: 44px;
    letter-spacing: 25px;
    padding-left: 25px;
  }
  .socials__title {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .contacts__title {
    font-size: 44px;
    letter-spacing: 25px;
    padding-left: 25px;
  }
  .form__title {
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
    letter-spacing: 10px;
  }
  .input__title {
    font-size: 25px;
  }
  .contacts__input {
    width: 500px;
    height: 40px;
  }
  .form__button {
    font-size: 25px;
    letter-spacing: 10px;
    padding: 8px 20px 8px 30px;
  }
  .socials__title {
    font-size: 20px;
  }
  .socials__content {
    background-color: #ffffff;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .socials__item i {
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .contacts__title {
    font-size: 34px;
    letter-spacing: 25px;
    padding-left: 25px;
  }
  .form__title {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
    letter-spacing: 10px;
  }
  .input__title {
    font-size: 15px;
  }
  .contacts__input {
    width: 300px;
    height: 30px;
  }
  .form__button {
    font-size: 15px;
    letter-spacing: 10px;
    padding: 8px 20px 8px 30px;
  }
  .socials__title {
    font-size: 20px;
  }
  .socials__content {
    background-color: #ffffff;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .socials__item i {
    font-size: 30px;
  }
}

@media (max-width: 376px) {
  .contacts__title {
    font-size: 24px;
    letter-spacing: 25px;
    padding-left: 25px;
  }
  .form__title {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
    letter-spacing: 10px;
  }
  .input__title {
    font-size: 15px;
  }
  .contacts__input {
    width: 250px;
    height: 30px;
  }
  .form__button {
    font-size: 15px;
    letter-spacing: 10px;
    padding: 8px 20px 8px 30px;
  }
  .socials__title {
    font-size: 20px;
  }
  .socials__content {
    background-color: #ffffff;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .socials__item i {
    font-size: 30px;
  }
}

@media (max-width: 321px) {
  .contacts__title {
    font-size: 24px;
    letter-spacing: 25px;
    padding-left: 25px;
  }
  .form__title {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
    letter-spacing: 10px;
  }
  .input__title {
    font-size: 15px;
  }
  .contacts__input {
    width: 250px;
    height: 30px;
  }
  .form__button {
    font-size: 15px;
    letter-spacing: 10px;
    padding: 8px 20px 8px 30px;
  }
  .socials__title {
    font-size: 20px;
  }
  .socials__content {
    background-color: #ffffff;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .socials__item i {
    font-size: 30px;
  }
}

/** ----------------------------------- Works section ----------------------------------- **/
.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__desc {
  font-size: 14px;
  color: #6B6B6B;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.slider__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.works__item {
  width: 100%;
  height: 100%;
}

.works__item img {
  width: 100%;
}

.slider__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 30px;
  top: 30px;
  z-index: 22;
}

.prev-arrow {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url(../images/works/left-arrow.svg) center no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}

.next-arrow {
  width: 30px;
  height: 30px;
  background: url(../images/works/right-arrow.svg) center no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */