body
  font-family: 'Roboto', sans-serif
  font-size: 14px
  color: #ffffff
  overflow-x: hidden

a
  display: block
  text-decoration: none
  color: $white
  &:hover
    text-decoration: none




/** ----------------------------------- Custom scrollbar ----------------------------------- **/

body::-webkit-scrollbar
 background-color: transparent
 width: 5px

body::-webkit-scrollbar-track
 background-color: #000000
 width: 5px

body::-webkit-scrollbar-thumb
 background-color: #ffffff


/** Global settings **/

.section
  width: 100vw
  padding-top: 60px
  padding-bottom: 60px
  background-color: #0f0f0f
  overflow-x: hidden

.section-title
  color: $white
  font-size: 55px
  text-transform: uppercase
  font-weight: 200
  letter-spacing: 120px
  padding-left: 120px

