body
  font-family: 'Roboto', sans-serif
  font-size: 14px
  color: #ffffff
  overflow-x: hidden

a
  display: block
  text-decoration: none
  color: $white
  &:hover
    text-decoration: none


/** ----------------------------------- Custom scrollbar ----------------------------------- **/
.test
  width: 100vw
  height: 100vh
  background-color: #333333

body::-webkit-scrollbar
 background-color: transparent
 width: 5px

body::-webkit-scrollbar-track
 background-color: #000000
 width: 5px

body::-webkit-scrollbar-thumb
 background-color: #ffffff

