/** ----------------------------------- About section ----------------------------------- **/

.about
  max-width: 100vw
  min-height: 100vh
  padding-top: 60px
  padding-bottom: 60px
  background-color: #0f0f0f
  overflow-x: hidden

.title__box
  z-index: 99
  width: 100%
  height: 244px
  margin-bottom: 100px
  display: flex
  justify-content: center
  align-items: center

/** About info **/
.about__inner
  display: flex
  justify-content: center
  flex-direction: column

.about__info
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 80px

.info__text
  display: flex
  flex-direction: column
  &:nth-child(2)
    align-items: flex-end
    text-align: right

.info__title
  width: fit-content
  background-color: $white
  margin-bottom: 10px
  padding: 4px 5px 4px 25px
  color: $black
  text-transform: uppercase
  font-size: 48px
  letter-spacing: 20px
  line-height: 100%

.info__subtitle
  font-size: 24px
  line-height: 158%
  white-space: nowrap



/** ----------------------------------- About media ----------------------------------- **/


@media  (max-width: 321px)

  .title__box
    height: 150px
    margin-bottom: 50px

  .about__title
    font-size: 24px
    letter-spacing: 40px
    padding-left: 40px
    
  .about__info
    margin-bottom: 50px

  .info__text
    align-items: center
    text-align: center
    &:nth-child(2)
      align-items: center
      text-align: center

  .info__title
    font-size: 24px

  .info__subtitle
    font-size: 15px

  .info__img
    display: none
  
